.row.justify-content-center
  .col-12.col-lg-10

    .card
      .card-header
        .row
          .col-12.col-lg-9
            %h2.h4.card-title.mb-0= t('.title')
          .col-12.col-lg-3
            = link_to t('.commands.new'), new_admin_offer_path, class: 'btn btn-success float-right'

      .card-body
        .card-text
          %table.table
            %thead
              %tr
                - %i[id advertiser_name url status].each do |field_name|
                  %th= Offer.human_attribute_name(field_name)
                %th= t('.actions')

            %tbody
              - offers.each do |offer|
                - show_path = admin_offer_path(offer)

                %tr
                  %td= link_to offer.id, show_path, class: 'btn btn-link text-muted'
                  %td= link_to offer.advertiser_name, show_path, class: 'btn btn-link text-muted'
                  %td= link_to offer.url, show_path, class: 'btn btn-link text-muted'
                  %td= link_to I18n.t("activerecord.attributes.offer.statuses.#{offer.status}"), show_path, class: 'btn btn-link text-muted'
                  %td
                    = link_to t('.commands.edit'), edit_admin_offer_path(offer), class: 'btn btn-sm btn-link text-primary'
                    = link_to t('.commands.destroy'), admin_offer_path(offer), method: :delete, data: { confirm: t('commands.remove_confirm') }, class: 'btn btn-sm btn-link text-danger'

          = paginate offers
