.row.justify-content-center
  .col-12.col-lg-9

    .card
      .card-header
        %h2.h4.card-title.mb-0= offer.advertiser_name

      .card-body
        .card-text
          .row.mb-3
            .col-12
              %label= Offer.human_attribute_name(:status)
              .text-muted= I18n.t("activerecord.attributes.offer.statuses.#{offer.status}")

          .row.mb-3
            .col-12
              %label= Offer.human_attribute_name(:url)
              .text-muted= link_to offer.url

          .row.mb-3
            .col-12
              %label= Offer.human_attribute_name(:description)
              .text-muted= offer.description

          .row.mb-3
            .col-12
              %label= Offer.human_attribute_name(:starts_at)
              .text-muted= l(offer.starts_at)

          .row.mb-3
            .col-12
              %label= Offer.human_attribute_name(:ends_at)
              .text-muted= offer.ends_at.present? ? l(offer.ends_at) : '-'

          .row.mb-3
            .col-12
              %label= Offer.human_attribute_name(:premium)
              .text-muted= I18n.t("boolean.#{offer.premium?}")


  .col-12.col-lg-9.mt-3
    = link_to t('.commands.back'), admin_offers_path, class: 'btn btn-warning float-left'
